@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #2747ff;
  border-radius: 8px;
}

body {
  background-color: #111;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  object-fit: cover;
}

h2 {
  font-weight: 450;
}

nav {
  position: fixed;
  background: #111;
  backdrop-filter: blur(24px);
  border-bottom: 1px solid transparent;
  z-index: 999;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 26px;
}

nav .logo {
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding-right: 10px;
}

nav .logo a {
  color: #f0f8ff;
  font-weight: 500;
  font-family: "Archivo";
  transition: 0.4s ease;
}

nav .logo span {
  color: #2747ff;
}

nav .logo a:hover {
  transform: scale(1.1);
}

nav .nav-links {
  display: flex;
  gap: 24px;
}

nav .nav-links i {
  font-size: 24px;
  font-weight: 500;
  color: #f0f8ff;
  transition: all 0.3s ease;
}

nav .nav-links i:hover {
  color: #2747ff;
}

.hero {
  margin-top: 80px;
  height: calc(100vh - 80px);
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.hero > img {
  max-width: 520px;
  width: 38%;
  border-radius: 100%;
}

.hero .secao-esquerda {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.typewriter {
  color: #f0f8ff;
  font-size: 38px;
  margin-bottom: 24px;
}

.typewriter:after {
  content: "|";
  color: #2747ff;
  margin-left: 6px;
  opacity: 1;
  animation: pisca 1.3s infinite;
}

@keyframes pisca {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.hero .secao-esquerda .topo p {
  color: #b0c4de;
  font-size: 20px;
  margin-bottom: 24px;
  text-align: justify;
}

.nav .secao-esquerda .topo .botoes {
  display: flex;
  gap: 8px;
}

.projetos .interno > button,
.contato .items .item button {
  font-size: 16px;
  border: none;
  padding: 5px 20px;
  margin-right: 5px;
  background: #f5f5f5;
  border: 1px solid transparent;
  border-radius: 12px;
  gap: 5px;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  animation: shake 1.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
}

.projetos .interno > button:hover,
.contato .items .item button:hover {
  animation: shake 0.92s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
  transform: translate3d(0, 0, 0);
  background-color: crimson;
  color: #f5f5f5;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.3));
  border: 1px solid transparent;
}

.hero .secao-esquerda .topo .botoes button {
  font-size: 16px;
  border: none;
  padding: 8px 20px;
  margin-right: 5px;
  background: #f5f5f5;
  border: 1px solid transparent;
  border-radius: 6px;
  gap: 5px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.hero .secao-esquerda .topo .botoes button i {
  font-size: 24px;
}

.hero .secao-esquerda .topo .botoes button.doc,
.contato .items .item button {
  background-color: #f5f5f5;
  color: black;
}

.hero .secao-esquerda .topo .botoes button.git {
  padding: 0.5em 1em;
  animation: beat 0.8s infinite alternate;
}

.hero .secao-esquerda .topo .botoes button.git:hover {
  background: #000;
  color: #fff;
  border-color: transparent;
  transform-origin: center;
}

.sobre {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}

.sobre > p {
  color: #f0f8ff;
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
}

.sobre > p span {
  color: #2747ff;
  font-size: 36px;
}

.sobre > h2 {
  color: #fffa;
  margin-top: 0.5em;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.sobre .items {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.sobre .items .item {
  width: 26%;
  border-radius: 16px;
  background: #000;
  padding: 0 0 30px;
  margin-top: 30px;
}

.sobre .items .item .interno {
  background: #000a;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid transparent;
  min-height: 365px;
}

.sobre .items .item .interno img {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 12px;
}

.sobre .items .item .interno a {
  text-align: center;
  font-size: 18px;
  color: #2747ff;
  margin-bottom: 10px;
  display: block;
  transition: 0.3s ease-in-out;
}

.sobre .items .item .interno a:hover,
.contato .items .item a:hover {
  color: crimson;
}

.sobre .items .item .interno p {
  text-align: center;
  color: #fffa;
  font-size: 15px;
}

.contato {
  padding: 100px 60px;
}

.contato > h2 {
  color: #f0f8ff;
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
}

.contato > h2 span {
  color: #2747ff;
  font-size: 36px;
}

.contato .items {
  display: flex;
  background: #000;
  border-radius: 12px;
}

.contato .items .item {
  width: 100%;
  padding: 30px;
  border: 1px solid transparent;
  text-align: center;
}

.contato .items .item:nth-child(1) {
  border-radius: 12px 0 0 12px;
}

.contato .items .item:nth-child(2) {
  border-radius: 0 12px 12px 0;
}

.contato .items .item a {
  font-size: 24px;
  color: #2747ff;
  display: inline-block;
  margin-bottom: 16px;
  transition: 0.3s ease-in-out;
}

.contato .items .item p {
  font-size: 20px;
  color: #fffa;
  margin-bottom: 26px;
}

.contato .items .item button {
  padding: 10px 24px;
  background-color: #011aaa;
  color: #f5f5f5;
}

footer {
  background: #f0f8ff;
  border-radius: 18px 18px 0 0;
  font-size: 22px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer a {
  color: #111;
}

@media screen and (max-width: 1280px) {
  .hero .secao-esquerda .topo h2 {
    font-size: 30px;
  }

  .hero .secao-esquerda .topo p {
    font-size: 18px;
  }

  .hero .secao-esquerda .topo .botoes button,
  .projetos .interno > button,
  .contato .items .item button {
    font-size: 18px;
    padding: 16px 20px;
  }

  .hero .secao-esquerda .topo .botoes button i {
    font-size: 18px;
  }

  .sobre .items .item .interno {
    min-height: 340px;
  }

  .sobre .items .item .interno a,
  .projetos .interno > p.info,
  .contato .items .item p {
    font-size: 18px;
  }

  .sobre .items .item .interno p {
    font-size: 18px;
  }

  .projetos .interno .items {
    flex-wrap: wrap;
  }

  .projetos .interno .items .item {
    width: 46%;
    height: 200px;
  }

  .contato .items .item a {
    font-size: 22px;
  }
}

@media screen and (max-width: 992px) {
  nav .logo {
    font-size: 22px;
  }

  .hero {
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 100px);
  }

  .typewriter {
    padding-top: 10em;
    padding-bottom: 10%;
    margin-bottom: 0;
  }

  .hero .secao-esquerda .topo p {
    font-size: 20px;
    text-align: center;
  }

  .hero > img {
    padding: 6em 0;
  }

  .hero .secao-esquerda {
    gap: 10px;
    align-items: center;
  }

  .hero .secao-esquerda .topo {
    text-align: center;
  }

  .hero .secao-esquerda .top .buttons {
    justify-content: center;
  }

  .sobre .items {
    flex-wrap: wrap;
  }

  .sobre .items .item {
    width: 50%;
  }

  .projetos .interno .items .item {
    height: 200px;
  }

  .contato {
    margin-top: 4em;
  }

  .contato > h2 {
    font-size: 36px;
  }

  .contato .items .item button {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }

  nav,
  nav .nav-links {
    gap: 20px;
  }

  .hero {
    margin-top: 12em;
    padding: 0 20px;
  }

  .hero > img {
    margin-top: 4em;
    width: 80%;
  }

  .sobre {
    margin-top: 20em;
  }

  .sobre > h2 {
    font-size: 28px;
  }

  .sobre .items .item {
    width: 100%;
  }

  .sobre .items .item .interno img {
    height: 65%;
    max-height: 250px;
  }

  .projetos .interno {
    padding: 20px 20px;
  }

  .projetos .interno > h2 {
    font-size: 28px;
  }

  .projetos .interno p.info {
    font-size: 20px;
  }

  .projetos .interno button {
    width: 100%;
  }

  .projetos .interno .items .item {
    width: 100%;
    height: 180px;
  }

  .projetos .interno .items .item i {
    font-size: 28px;
  }

  .projetos .interno .items .item a {
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
  }

  .projetos .interno .items .item p {
    margin-top: 10px;
    font-size: 20px;
  }

  .contato {
    margin-top: 4em;
    padding: 80px 40px;
  }

  .contato > h2 {
    font-size: 30px;
  }

  .contato .items {
    flex-wrap: wrap;
  }

  .contato .items .item {
    width: 100%;
  }

  .contact .items .item:nth-child(1) {
    border-radius: 12px 12px 0 0;
  }

  .contato .items .item:nth-child(2) {
    border-radius: 0 0 12px 12px;
  }
}

@keyframes beat {
  to {
    transform: scale(1.2);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
